html,
body,
header,
.carousel {
    height: 80vh;
}

@media (max-width: 740px) {

    html,
    body,
    header,
    .carousel {
        height: 100vh;
    }
}

@media (min-width: 800px) and (max-width: 850px) {

    html,
    body,
    header,
    .carousel {
        height: 100vh;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #929FBA !important;
    }
}


@media only screen and (min-width: 200px) and (max-width: 767px) {
    .intro-2 {
        background: url("../../backend/img/fabrica/720px/1.jpg")no-repeat center;
        background-size: cover;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1191px) {
    .intro-2 {
        background: url("../../backend/img/fabrica/1140px/2.jpg")no-repeat center center;
        background-size: cover;
        width: 100%;
    }
}


@media only screen and (min-width: 1200px){
    .intro-2 {
        background: url("../../backend/img/fabrica/1440/2.jpg")no-repeat center center;
        background-size: cover;
        width: 100%;
    }
}



