.btn .fas, .btn .fab, .btn .far {
    margin-left: 3px;
  }

  h6 {
    line-height: 1.7;
  }

  footer.page-footer {
    margin-top: 0px;
    padding-top: 0px;
  }

  body {
    background-color: #eee;
  }

  .btn.peach-gradient {
    color: #fff !important;
  }

  .map-container-section {
    overflow:hidden;
    /* padding-bottom:56.25%; */
    position:relative;
    height:0;
  }
.map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  .adminActions {
    position: fixed;
    bottom: 35px; right: 35px;
  }

    .adminButton {
      height: 60px;
      width: 60px;
      background-color: rgba(62, 255, 4, 0.8);
      border-radius: 50%;
      display: block;
      color: #fff;
      text-align: center;
      position: relative;
      z-index: 1;
    }

      .adminButton i {
        font-size: 44px;
      }

    .adminButtons {
      position: absolute;
      width: 100%;
      bottom: 120%;
      text-align: center;
    }

      .adminButtons a {
        display: block;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        text-decoration: none;
        margin: 10px auto 0;
        line-height: 1.15;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        position: relative;
        box-shadow: 0 0 5px 1px rgba(51, 51, 51, .3);
      }

        .adminButtons a:hover {
          transform: scale(1.05);
        }


        .adminActions a i {
          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%, -50%);
        }

    .adminToggle {
      -webkit-appearance: none;
      position: absolute;
      border-radius: 50%;
      top: 0; left: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
      z-index: 2;
      transition: box-shadow .2s ease-in-out;
      box-shadow: 0 3px 5px 1px rgba(51, 51, 51, .3);
    }

      .adminToggle:hover {
        box-shadow: 0 3px 6px 2px rgba(51, 51, 51, .3);
      }

      .adminToggle:checked ~ .adminButtons a {
        opacity: 1;
        visibility: visible;
      }

      #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }
