#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;

    z-index: 1001;
}

@media only screen and (min-width: 200px) and (max-width: 767px){
    #loader {
        display: block;
        position: relative;
        left: 45%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;

        z-index: 1001;
    }

    .video {
        width: 175px;
        height: 175px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    #loader {
        display: block;
        position: relative;
        left: 37%;
        top: 33%;
        width: 150px;
        height: 150px;
        margin: -35px 0 0 -75px;
        border-radius: 50%;

        z-index: 1001;
    }

    .video {
        width: 350px;
        height: 350px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1199px){
    #loader {
        display: block;
        position: relative;
        left: 37%;
        top: 36%;
        width: 150px;
        height: 150px;
        margin: -35px 0 0 -75px;
        border-radius: 50%;

        z-index: 1001;
    }

    .video {
        width: 350px;
        height: 350px;
    }
}

@media only screen and (min-width: 1200px){
    #loader {
        display: block;
        position: relative;
        left: 40%;
        top: 30%;
        width: 150px;
        height: 150px;
        margin: -35px 0 0 -75px;
        border-radius: 50%;

        z-index: 1001;
    }

    .video {
        width: 425px;
        height: 425px;
    }
}



    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: black;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;
                transition: all 0.3s 1s ease-out;
    }

