#custCarousel .carousel-indicators {
    position: static;
}

#custCarousel .carousel-indicators>li {
    width: 50px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

@media screen and (min-width: 200px) and (max-width: 600px) {
        .carousel-inner img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 601px) {
    #custCarousel .carousel-indicators {
        margin-top: -70px;
    }
    .carousel-inner img {
        width: 50%;
        height: 50%;
        margin-top: 40px ;
    }

    .carousel-item img {
        width: 80%;
        height: 80%;
    }
}
