/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
header,
.view {
  height: 100%;
}


@media only screen and (min-width: 200px) and (max-width: 767px) {
    .intro-2 {
        background: url("../../backend/img/fabrica/720px/6.jpg")no-repeat center center;
        background-size: cover;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1191px) {
    .intro-2 {
        background: url("../../backend/img/fabrica/1140px/7.jpg")no-repeat center center;
        background-size: cover;
        width: 100%;
    }
}


@media only screen and (min-width: 1200px){
    .intro-2 {
        background: url("../../backend/img/fabrica/bg7.png")no-repeat center center;
        background-size: cover;
        width: 100%;
    }
}

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */


#time-counter {
    font-size: 5rem;
}

.count {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: verdana;
    float: left;
    margin: 30px;
    text-shadow: 1px 1px black;
